{
  "swagger": "2.0",
  "info": {
    "version": "2.0.1",
    "title": "Storecove API",
    "description": "Storecove API",
    "contact": { "email": "apisupport@storecove.nl" }
  },
  "schemes": ["https"],
  "host": "api.storecove.com",
  "basePath": "/api/v2",
  "tags": [
    { "name": "InvoiceSubmissions" },
    { "name": "DocumentSubmissions" },
    { "name": "LegalEntities" },
    { "name": "PeppolIdentifiers" },
    { "name": "Administrations" },
    { "name": "PurchaseInvoices" },
    { "name": "WebhookInstances" },
    { "name": "Discovery" }
  ],
  "securityDefinitions": {
    "Bearer": { "type": "apiKey", "name": "Authorization", "in": "header" }
  },
  "security": [{ "Bearer": [] }],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/invoice_submissions/{guid}/evidence": {
      "get": {
        "responses": {
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/InvoiceSubmissionEvidence" }
          }
        },
        "summary": "Get InvoiceSubmission Evidence",
        "description": "Get evidence for an InvoiceSubmission by GUID with corresponding status",
        "operationId": "show_invoice_submission_evidence",
        "tags": ["InvoiceSubmissions"],
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "guid",
            "in": "path",
            "description": "InvoiceSubmission GUID",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ]
      }
    },
    "/invoice_submissions": {
      "post": {
        "responses": {
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "422": {
            "description": "Unprocessable Entity",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/ErrorModel" }
            }
          },
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/InvoiceSubmissionResult" }
          }
        },
        "summary": "Submit a new invoice",
        "description": "Submit an invoice for delivery.",
        "operationId": "create_invoice_submission",
        "tags": ["InvoiceSubmissions"],
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "invoice_submission",
            "in": "body",
            "description": "Invoice to submit",
            "required": true,
            "schema": { "$ref": "#/definitions/InvoiceSubmission" }
          }
        ]
      }
    },
    "/document_submissions": {
      "post": {
        "responses": {
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "422": {
            "description": "Unprocessable Entity",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/ErrorModel" }
            }
          },
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/DocumentSubmissionResult" }
          }
        },
        "summary": "*** NOTE: Experimental. Only to be used for sending Invoice Response documents. *** Submit a new document.",
        "description": "Submit a document for delivery. This endpoint will replace the /invoice_submissions endpoint, but for now should only be used to send Invoice Response doucments.",
        "operationId": "create_document_submission",
        "tags": ["DocumentSubmissions"],
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "document_submission",
            "in": "body",
            "description": "Document to submit",
            "required": true,
            "schema": { "$ref": "#/definitions/DocumentSubmission" }
          }
        ]
      }
    },
    "/invoice_submissions/preflight": {
      "post": {
        "responses": {
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "422": {
            "description": "Unprocessable Entity",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/ErrorModel" }
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PreflightInvoiceRecipientResult"
            }
          }
        },
        "summary": "Preflight an invoice recipient",
        "description": "Check whether Storecove can deliver an invoice for a list of ids.",
        "operationId": "preflight_invoice_recipient",
        "tags": ["InvoiceSubmissions"],
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "invoice_recipient_preflight",
            "in": "body",
            "description": "The invoice recipient to preflight",
            "required": true,
            "schema": { "$ref": "#/definitions/InvoiceRecipientPreflight" }
          }
        ]
      }
    },
    "/legal_entities": {
      "post": {
        "responses": {
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "422": {
            "description": "Unprocessable Entity",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/ErrorModel" }
            }
          },
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/LegalEntity" }
          }
        },
        "summary": "Create a new LegalEntity",
        "description": "Create a new LegalEntity.",
        "operationId": "create_legal_entity",
        "tags": ["LegalEntities"],
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "legal_entity",
            "in": "body",
            "description": "LegalEntity to create",
            "required": true,
            "schema": { "$ref": "#/definitions/LegalEntityCreate" }
          }
        ]
      }
    },
    "/legal_entities/{id}": {
      "get": {
        "responses": {
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/LegalEntity" }
          }
        },
        "summary": "Get LegalEntity",
        "description": "Get a specific LegalEntity.",
        "operationId": "get_legal_entity",
        "tags": ["LegalEntities"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "legal_entity id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ]
      },
      "delete": {
        "responses": {
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "204": { "description": "Success" }
        },
        "summary": "Delete LegalEntity",
        "description": "Delete a specific LegalEntity.",
        "operationId": "delete_legal_entity",
        "tags": ["LegalEntities"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "legal_entity id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ]
      },
      "patch": {
        "responses": {
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "422": {
            "description": "Unprocessable Entity",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/ErrorModel" }
            }
          },
          "404": { "description": "Not Found" },
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/LegalEntity" }
          }
        },
        "summary": "Update LegalEntity",
        "description": "Update a specific LegalEntity.",
        "operationId": "update_legal_entity",
        "tags": ["LegalEntities"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "legal_entity id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "legal_entity",
            "in": "body",
            "description": "LegalEntity updates",
            "required": true,
            "schema": { "$ref": "#/definitions/LegalEntityUpdate" }
          }
        ]
      }
    },
    "/legal_entities/{legal_entity_id}/peppol_identifiers": {
      "post": {
        "responses": {
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "422": {
            "description": "Unprocessable Entity",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/ErrorModel" }
            }
          },
          "404": { "description": "Not Found" },
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/PeppolIdentifier" }
          }
        },
        "summary": "Create a new PeppolIdentifier",
        "description": "Create a new PeppolIdentifier.",
        "operationId": "create_peppol_identifier",
        "tags": ["PeppolIdentifiers"],
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "legal_entity_id",
            "in": "path",
            "description": "The id of the LegalEntity for which to create the PeppolIdentifier",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "peppol_identifier",
            "in": "body",
            "description": "PeppolIdentifier to create",
            "required": true,
            "schema": { "$ref": "#/definitions/PeppolIdentifierCreate" }
          }
        ]
      }
    },
    "/legal_entities/{legal_entity_id}/peppol_identifiers/{superscheme}/{scheme}/{identifier}": {
      "delete": {
        "responses": {
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "204": { "description": "Success" }
        },
        "summary": "Delete PeppolIdentifier",
        "description": "Delete a PeppolIdentifier.",
        "operationId": "delete_peppol_identifier",
        "tags": ["PeppolIdentifiers"],
        "parameters": [
          {
            "name": "legal_entity_id",
            "in": "path",
            "description": "The id of the LegalEntity this PeppolIdentifier belongs to",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "superscheme",
            "in": "path",
            "description": "The superscheme of the identifier. Should always be \"iso6523-actorid-upis\".",
            "required": true,
            "type": "string"
          },
          {
            "name": "scheme",
            "in": "path",
            "description": "PEPPOL identifier scheme id, e.g. \"DE:VAT\". For a full list see <<_peppol_participant_identifier_list>>.",
            "required": true,
            "type": "string"
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "PEPPOL identifier",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/legal_entities/{legal_entity_id}/administrations": {
      "post": {
        "responses": {
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "422": {
            "description": "Unprocessable Entity",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/ErrorModel" }
            }
          },
          "404": { "description": "Not Found" },
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/Administration" }
          }
        },
        "summary": "Create a new Administration",
        "description": "Create a new Administration. An Administration is an email destination for purchase invoices.",
        "operationId": "create_administration",
        "tags": ["Administrations"],
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "legal_entity_id",
            "in": "path",
            "description": "The id of the LegalEntity for which to create the Administration",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "administration",
            "in": "body",
            "description": "Administration to create",
            "required": true,
            "schema": { "$ref": "#/definitions/AdministrationCreate" }
          }
        ]
      }
    },
    "/legal_entities/{legal_entity_id}/administrations/{id}": {
      "get": {
        "responses": {
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/Administration" }
          }
        },
        "summary": "Get Administration",
        "description": "Get an Administration",
        "operationId": "get_administration",
        "tags": ["Administrations"],
        "parameters": [
          {
            "name": "legal_entity_id",
            "in": "path",
            "description": "The id of the LegalEntity the Administration belongs to",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the Administration",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ]
      },
      "delete": {
        "responses": {
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "204": { "description": "Success" }
        },
        "summary": "Delete Administration",
        "description": "Delete an Administration",
        "operationId": "delete_administration",
        "tags": ["Administrations"],
        "parameters": [
          {
            "name": "legal_entity_id",
            "in": "path",
            "description": "The id of the LegalEntity the Administration belongs to",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the Administration",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ]
      },
      "patch": {
        "responses": {
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/Administration" }
          }
        },
        "summary": "Update Administration",
        "description": "Update an Administration",
        "operationId": "update_administration",
        "tags": ["Administrations"],
        "parameters": [
          {
            "name": "legal_entity_id",
            "in": "path",
            "description": "The id of the LegalEntity the Administration belongs to",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the Administration to be updated",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "administration",
            "in": "body",
            "description": "Administration to update",
            "required": true,
            "schema": { "$ref": "#/definitions/AdministrationUpdate" }
          }
        ]
      }
    },
    "/purchase_invoices/{guid}": {
      "get": {
        "responses": {
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/PurchaseInvoice" }
          }
        },
        "summary": "Get Purchase invoice data as JSON",
        "description": "Get a specific PurchaseInvoice, in JSON format. Recommended way of getting a PurchaseInvoice, since it provides the data in a JSON object and the JSON format is the richest we have that supports all features a PurchaseInvoice can have.",
        "operationId": "get_invoice_json",
        "tags": ["PurchaseInvoices"],
        "parameters": [
          {
            "name": "guid",
            "in": "path",
            "description": "purchase invoice guid",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ]
      }
    },
    "/purchase_invoices/{guid}/{packaging}": {
      "get": {
        "responses": {
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/PurchaseInvoiceUbl" }
          }
        },
        "summary": "Get Purchase invoice data as JSON with a Base64-encoded SI-1.2 UBL string",
        "description": "Get a specific PurchaseInvoice. Using /json as {packaging} is recommended (in which case you can just omit it), however, this endpoint allows getting the invoice in a differently serialized format such as UBL.",
        "operationId": "get_invoice_ubl",
        "tags": ["PurchaseInvoices"],
        "parameters": [
          {
            "name": "guid",
            "in": "path",
            "description": "purchase invoice guid",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "packaging",
            "in": "path",
            "description": "How to package the purchase invoice. Use \"json\" or \"ubl\" ",
            "required": true,
            "type": "string",
            "enum": ["json", "ubl"],
            "default": "json"
          }
        ]
      }
    },
    "/purchase_invoices/{guid}/{packaging}/{package_version}": {
      "get": {
        "responses": {
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/PurchaseInvoiceUbl" }
          }
        },
        "summary": "Get Purchase invoice data as JSON with a Base64-encoded UBL string in the specified version",
        "description": "Get a specific PurchaseInvoice in a non-JSON serialized format with version.",
        "operationId": "get_invoice_ubl_versioned",
        "tags": ["PurchaseInvoices"],
        "parameters": [
          {
            "name": "guid",
            "in": "path",
            "description": "purchase invoice guid",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "packaging",
            "in": "path",
            "description": "How to package the purchase invoice. Use \"ubl\"",
            "required": true,
            "type": "string",
            "enum": ["ubl"],
            "default": "ubl"
          },
          {
            "name": "package_version",
            "in": "path",
            "description": "The version of the ubl package.",
            "required": true,
            "type": "string",
            "enum": ["original", "si11", "si12", "si20", "aunz", "sg"],
            "default": "si12"
          }
        ]
      }
    },
    "/webhook_instances/": {
      "get": {
        "responses": {
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/WebhookInstance" }
          },
          "204": { "description": "Success" }
        },
        "summary": "GET a WebhookInstance",
        "description": "GET a WebhookInstance from the queue. After processing it successfully, DELETE it and GET the next one. When a 204 is received, the queue is empty and the polling process can sleep for a while.",
        "operationId": "get_webhook_instances",
        "tags": ["WebhookInstances"]
      }
    },
    "/webhook_instances/{guid}": {
      "delete": {
        "responses": {
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "204": { "description": "Success" }
        },
        "summary": "DELETE a WebhookInstance",
        "description": "DELETE a specific WebhookInstance",
        "operationId": "delete_webhook_instance",
        "tags": ["WebhookInstances"],
        "parameters": [
          {
            "name": "guid",
            "in": "path",
            "description": "WebhookInstance guid",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ]
      }
    },
    "/discovery/receives": {
      "post": {
        "responses": {
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "422": {
            "description": "Unprocessable Entity",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/ErrorModel" }
            }
          },
          "200": {
            "description": "Success",
            "schema": { "$ref": "#/definitions/DiscoveredParticipant" }
          }
        },
        "summary": "Disover Network Participant",
        "description": "Discover a network participant and capabilities.",
        "operationId": "discovery_receives",
        "tags": ["Discovery"],
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "discoverable_participant",
            "in": "body",
            "description": "The participant to check",
            "required": true,
            "schema": { "$ref": "#/definitions/DiscoverableParticipant" }
          }
        ]
      }
    }
  },
  "definitions": {
    "LegalEntityUpdate": {
      "properties": {
        "id": {
          "title": "Id",
          "description": "The Storecove assigned id for the LegalEntity.",
          "type": "integer",
          "format": "int64"
        },
        "party_name": {
          "type": "string",
          "title": "Company name",
          "description": "The name of the company.",
          "minLength": 2,
          "maxLength": 64
        },
        "line1": {
          "type": "string",
          "title": "Address line 1",
          "description": "The first address line.",
          "minLength": 2,
          "maxLength": 64
        },
        "line2": {
          "type": "string",
          "title": "Address line 2",
          "description": "The second address line, if applicable",
          "maxLength": 64
        },
        "city": {
          "type": "string",
          "title": "City",
          "description": "The city.",
          "minLength": 2,
          "maxLength": 64
        },
        "zip": {
          "type": "string",
          "title": "Zipcode",
          "description": "The zipcode.",
          "minLength": 2,
          "maxLength": 32
        },
        "county": {
          "type": "string",
          "title": "County",
          "description": "County, if applicable",
          "maxLength": 64
        },
        "country": { "$ref": "#/definitions/Country" },
        "tenant_id": {
          "type": "string",
          "title": "Tenant Id",
          "description": "The id of the tenant, to be used in case of multi-tenant solutions. This property will included in webhook events.",
          "maxLength": 64
        },
        "public": {
          "type": "boolean",
          "title": "Public",
          "description": "Whether or not this LegalEntity is public. Public means it will be listed in the PEPPOL directory at https://directory.peppol.eu/ which is normally what you want. If you have a good reason to not want the LegalEntity listed, provide false. This property is ignored when for country SG, where it is always true.",
          "default": true
        },
        "advertisements": {
          "title": "Advertisements",
          "description": "A list of document types to advertise. Use if this LegalEntity needs the ability to receive more than only invoice documents.",
          "type": "array",
          "items": {
            "title": "Document type",
            "description": "A document type to advertise.",
            "type": "string",
            "enum": ["invoice", "invoice_response"]
          },
          "default": ["invoice"]
        }
      }
    },
    "LegalEntityCreate": {
      "properties": {
        "party_name": {
          "type": "string",
          "title": "Company name",
          "description": "The name of the company.",
          "minLength": 2,
          "maxLength": 64
        },
        "line1": {
          "type": "string",
          "title": "Address line 1",
          "description": "The first address line.",
          "minLength": 2,
          "maxLength": 64
        },
        "line2": {
          "type": "string",
          "title": "Address line 2",
          "description": "The second address line, if applicable",
          "maxLength": 64
        },
        "city": {
          "type": "string",
          "title": "City",
          "description": "The city.",
          "minLength": 2,
          "maxLength": 64
        },
        "zip": {
          "type": "string",
          "title": "Zipcode",
          "description": "The zipcode.",
          "minLength": 2,
          "maxLength": 32
        },
        "county": {
          "type": "string",
          "title": "County",
          "description": "County, if applicable",
          "maxLength": 64
        },
        "country": { "$ref": "#/definitions/Country" },
        "tenant_id": {
          "type": "string",
          "title": "Tenant Id",
          "description": "The id of the tenant, to be used in case of multi-tenant solutions. This property will included in webhook events.",
          "maxLength": 64
        },
        "public": {
          "type": "boolean",
          "title": "Public",
          "description": "Whether or not this LegalEntity is public. Public means it will be entered into the PEPPOL directory at https://directory.peppol.eu/",
          "default": true
        },
        "advertisements": {
          "title": "Advertisements",
          "description": "A list of document types to advertise. Use if this LegalEntity needs the ability to receive more than only invoice documents.",
          "type": "array",
          "items": {
            "title": "Document type",
            "description": "A document type to advertise.",
            "type": "string",
            "enum": ["invoice", "invoice_response"]
          },
          "default": ["invoice"]
        }
      },
      "required": ["party_name", "line1", "city", "zip", "country"]
    },
    "LegalEntity": {
      "allOf": [
        { "$ref": "#/definitions/LegalEntityUpdate" },
        {
          "properties": {
            "peppol_identifiers": {
              "type": "array",
              "items": { "$ref": "#/definitions/PeppolIdentifier" }
            }
          }
        }
      ]
    },
    "PeppolIdentifier": {
      "properties": {
        "identifier": {
          "type": "string",
          "title": "Identifier",
          "description": "The identifier.",
          "minLength": 2,
          "maxLength": 64
        },
        "scheme": {
          "type": "string",
          "title": "Type",
          "description": "The scheme of the identifier. See <<_peppol_participant_identifier_list>> for a list.",
          "minLength": 2,
          "maxLength": 64
        },
        "superscheme": {
          "type": "string",
          "title": "Type",
          "description": "The superscheme of the identifier. Should always be \"iso6523-actorid-upis\".",
          "minLength": 2,
          "maxLength": 64
        }
      }
    },
    "PeppolIdentifierCreate": {
      "properties": {
        "identifier": {
          "type": "string",
          "title": "Identifier",
          "description": "The identifier.",
          "minLength": 2,
          "maxLength": 64
        },
        "scheme": {
          "type": "string",
          "title": "Type",
          "description": "The scheme of the identifier. See <<_peppol_participant_identifier_list>> for a list.",
          "minLength": 2,
          "maxLength": 64
        },
        "superscheme": {
          "type": "string",
          "title": "Type",
          "description": "The superscheme of the identifier. Should always be \"iso6523-actorid-upis\".",
          "minLength": 2,
          "maxLength": 64
        }
      },
      "required": ["identifier", "scheme", "superscheme"]
    },
    "AdministrationCreate": {
      "properties": {
        "sender_email_identity_id": {
          "title": "Sender email identity",
          "description": "The id of the SenderEmailIdentity. If not provided, the Storecove default sender will be used",
          "type": "integer",
          "format": "int64"
        },
        "legal_entity_id": {
          "type": "integer",
          "title": "Legal etity",
          "description": "The LegalEntity the Administration belongs to.",
          "format": "int64"
        },
        "email": {
          "type": "string",
          "title": "Email",
          "description": "The email address to send the received document to",
          "minLength": 5,
          "maxLength": 128
        },
        "packaging": {
          "title": "Packaging",
          "description": "How to package the purchase invoice.",
          "type": "string",
          "enum": ["ubl"],
          "default": "ubl"
        },
        "package_version": {
          "title": "Package version",
          "description": "The version of the package.",
          "type": "string",
          "enum": ["peppol_bis_v3"],
          "default": "peppol_bis_v3"
        }
      }
    },
    "AdministrationUpdate": {
      "properties": {
        "sender_email_identity_id": {
          "title": "Sender email identity",
          "description": "The id of the SenderEmailIdentity. If not provided, the Storecove default sender will be used",
          "type": "integer",
          "format": "int64"
        },
        "email": {
          "type": "string",
          "title": "Email",
          "description": "The email address to send the received document to",
          "minLength": 5,
          "maxLength": 128
        },
        "packaging": {
          "title": "Packaging",
          "description": "How to package the purchase invoice.",
          "type": "string",
          "enum": ["ubl"]
        },
        "package_version": {
          "title": "Package version",
          "description": "The version of the package.",
          "type": "string",
          "enum": ["peppol_bis_v3"]
        }
      }
    },
    "Administration": {
      "properties": {
        "id": {
          "type": "integer",
          "title": "Id",
          "description": "The Storecove assigned id for the Administration.",
          "format": "int64"
        },
        "sender_email_identity_id": {
          "title": "Sender email identity",
          "description": "The id of the SenderEmailIdentity. If not provided, the Storecove default sender will be used",
          "type": "integer",
          "format": "int64"
        },
        "legal_entity_id": {
          "type": "integer",
          "title": "Legal etity",
          "description": "The LegalEntity the Administration belongs to.",
          "format": "int64"
        },
        "email": {
          "type": "string",
          "title": "Email",
          "description": "The email address to send the received document to",
          "minLength": 5,
          "maxLength": 128
        },
        "packaging": {
          "title": "Packaging",
          "description": "How to package the purchase invoice.",
          "type": "string",
          "enum": ["ubl"]
        },
        "package_version": {
          "title": "Package version",
          "description": "The version of the package.",
          "type": "string",
          "enum": ["peppol_bis_v3"]
        }
      }
    },
    "InvoiceSubmissionEvidence": {
      "properties": {
        "guid": {
          "title": "GUID",
          "description": "The guid for the InvoiceSubmission.",
          "type": "string"
        },
        "status": {
          "title": "Status",
          "description": "The overall status for this InvoiceSubmission.",
          "type": "string"
        },
        "actions": {
          "title": "Actions",
          "description": "An array of actions taken to deliver the document.",
          "type": "array",
          "items": { "$ref": "#/definitions/InvoiceSubmissionActionEvidence" }
        }
      }
    },
    "InvoiceSubmissionActionEvidence": {
      "properties": {
        "transmission_datetime": {
          "title": "Transmission DateTime",
          "description": "The DateTime of the transmission, as defined by RFC 3339, section 5.6, for example, 2017-07-21T17:32:28Z.",
          "type": "string"
        },
        "transmission_type": {
          "title": "Transmission Type",
          "description": "How the document was transmitted.",
          "type": "string",
          "enum": ["email", "edi", "as2", "peppol", "sandbox"]
        },
        "transmission_result": {
          "title": "Transmission Result",
          "description": "The result of this transmission.",
          "type": "string",
          "enum": [
            "unknown",
            "accepted",
            "rejected",
            "send_error",
            "internal_error"
          ]
        },
        "transmitted_document": {
          "title": "Transmitted Document",
          "description": "The document that was transmitted.",
          "type": "string"
        },
        "receiver_response": {
          "title": "Receiver Response",
          "description": "The response the receiver sent.",
          "type": "string"
        }
      }
    },
    "PurchaseInvoiceUbl": {
      "properties": {
        "guid": {
          "title": "GUID",
          "description": "The GUID of the invoice",
          "type": "string",
          "format": "uuid"
        },
        "tax_system": {
          "title": "Tax System",
          "description": "The tax system of the invoice. Either tax_line_percentages or tax_line_amounts. The first tax system means the invoice lines contain only the tax percentages and the tax amounts are included only in the tax subtotals at the invoice level and so are only calculated at the invoice level. The tax system tax_line_amounts means that in addition to the percentage, each invoice line also contains the tax amount.",
          "type": "string"
        },
        "legal_entity_id": {
          "title": "LegalEntity id",
          "description": "The id of the LegalEntity the invoice was received for.",
          "type": "integer",
          "format": "int64"
        },
        "external_user_id": {
          "title": "External user id",
          "description": "Used for the embedded portal retrieval service. The external_user_id you provided when the ShopAccount was created.",
          "type": "string"
        },
        "external_key": {
          "title": "External key",
          "description": "Used for accountants. The id you specified for the organization.",
          "type": "string"
        },
        "system_generated_primary_image": {
          "title": "System Generated Primary Image",
          "description": "Whether or not the document image (PDF) was generated by Storecove. If true, it means the invoice was received without any attachments and Storecove generated one for you. If false, the invoice will contain at least one attachment, which was received from the invoice sender.",
          "type": "boolean"
        },
        "ubl": {
          "title": "UBL invoice",
          "description": "The Base64 encoded UBL invoice.",
          "type": "string"
        }
      }
    },
    "PurchaseInvoice": {
      "properties": {
        "guid": {
          "title": "GUID",
          "description": "The GUID of the invoice",
          "type": "string",
          "format": "uuid"
        },
        "tax_system": {
          "title": "Tax System",
          "description": "The tax system of the invoice. Either tax_line_percentages or tax_line_amounts. The first tax system means the invoice lines contain only the tax percentages and the tax amounts are included only in the tax subtotals at the invoice level and so are only calculated at the invoice level. The tax system tax_line_amounts means that in addition to the percentage, each invoice line also contains the tax amount. The tax subtotals at the invoice level are calculated as the sum of the tax of the invoice lines. The distinction between the two tax systems has has implications for rounding.",
          "type": "string"
        },
        "legal_entity_id": {
          "title": "LegalEntity id",
          "description": "The id of the LegalEntity the invoice was received for.",
          "type": "integer",
          "format": "int64"
        },
        "external_user_id": {
          "title": "External user id",
          "description": "Used for the embedded portal retrieval service. The external_user_id you provided when the ShopAccount was created.",
          "type": "string"
        },
        "external_key": {
          "title": "External key",
          "description": "Used for accountants. The id you specified for the organization.",
          "type": "string"
        },
        "system_generated_primary_image": {
          "title": "System Generated Primary Image",
          "description": "Whether or not the document image (PDF) was generated by Storecove. If true, it means the invoice was received without any attachments and Storecove generated one for you. If false, the invoice will contain at least one attachment, which was received from the invoice sender..",
          "type": "boolean"
        },
        "document": {
          "title": "Document - DEPRECTATED",
          "description": "DEPRECTATED. Use the new atatchments array.",
          "type": "string"
        },
        "attachments": {
          "type": "array",
          "items": { "$ref": "#/definitions/PurchaseInvoiceAttachment" }
        },
        "invoice_number": {
          "title": "Invoicenumber",
          "description": "The invoicenumber.",
          "type": "string"
        },
        "issue_date": {
          "title": "Issue Date",
          "description": "The date the invoice was issued. Format \"YYYY-MM-DD\".",
          "type": "string"
        },
        "tax_point_date": {
          "title": "Tax Point Date",
          "description": "The date the invoice was issued for tax purposes. In most countries MUST match the issue_date. Format \"YYYY-MM-DD\".",
          "type": "string"
        },
        "due_date": {
          "title": "Due Date",
          "description": "The date the invoice must be payed by. Format \"YYYY-MM-DD\".",
          "type": "string"
        },
        "note": {
          "title": "Note",
          "description": "The invoice level note.",
          "type": "string"
        },
        "document_currency_code": {
          "title": "Currency",
          "description": "The ISO 4217 currency for the invoice.",
          "type": "string"
        },
        "vat_reverse_charge": {
          "title": "VAT Reverse Charge - DEPRECATED",
          "description": "DEPRECATED - This is now part of each invoice line.",
          "type": "boolean"
        },
        "amount_including_vat": {
          "title": "Amount Including VAT - DEPRECATED",
          "description": "DEPRECATED - Use amount_including_tax.",
          "type": "number"
        },
        "amount_including_tax": {
          "title": "Amount Including Tax",
          "description": "The total invoice amount payable, including tax. This is equal to the sum of the invoice_lines (amount_excluding_tax + tax.amount)",
          "type": "number"
        },
        "payable_rounding_amount": {
          "title": "Payable Rounding Amount",
          "description": "The difference between the invoice total and the sum of the invoice lines.",
          "type": "number"
        },
        "prepaid_amount": {
          "title": "Prepaid Amount",
          "description": "The amount already paid.",
          "type": "number"
        },
        "payable_amount": {
          "title": "Amount to Pay Including Tax",
          "description": "The total invoice amount payable including tax. This is equal to amount_including_tax + allowance_charge + payable_rounding_amount. This property is redundant and provided only to make invoice processing easier. You can also choose to only store this property, instead of the underlying fields.",
          "type": "number"
        },
        "allowance_charge": {
          "title": "Allowance Charge - DEPRECATED",
          "description": "DEPRECATED - Use the allowance_charges array.",
          "type": "number"
        },
        "allowance_charges": {
          "type": "array",
          "items": { "$ref": "#/definitions/PurchaseInvoiceAllowanceCharge" }
        },
        "source": {
          "title": "Invoice Source",
          "description": "The source the invoice was received from.",
          "type": "string",
          "enum": ["peppol", "script", "supplier", "email"]
        },
        "sender": {
          "title": "Invoice Sender",
          "description": "The organzation that sent the invoice.",
          "type": "object",
          "$ref": "#/definitions/PurchaseInvoiceSender"
        },
        "invoice_type": {
          "title": "Invoice Type",
          "description": "The type of invoice.",
          "type": "string",
          "enum": ["invoice", "creditnote", "correctioninvoice"]
        },
        "period_start": {
          "title": "Start of Period",
          "description": "The start date of the period this invoice relates to. Format \"YYYY-MM-DD\".",
          "type": "string"
        },
        "period_end": {
          "title": "End of Period",
          "description": "The end date of the period this invoice relates to. Format \"YYYY-MM-DD\".",
          "type": "string"
        },
        "buyer_reference": {
          "title": "Buyer Reference",
          "description": "Reference provided by the buyer. Used for routing.",
          "type": "string"
        },
        "billing_reference": {
          "title": "Billing Reference",
          "description": "Reference to the previous invoice this invoice relates to.",
          "type": "string"
        },
        "contract_document_reference": {
          "title": "Contract Document Reference",
          "description": "Reference to the contract.",
          "type": "string"
        },
        "order_reference": {
          "title": "Order Reference",
          "description": "Reference to the order. Used for matching the invoice to an order.",
          "type": "string"
        },
        "project_reference": {
          "title": "Project Reference",
          "description": "Reference to the project.",
          "type": "string"
        },
        "payment_terms_note": {
          "title": "Payment Terms Note",
          "description": "A textual description of the payment terms.",
          "type": "string"
        },
        "payment_means_payment_id": {
          "title": "Payment Means Payment Id - DEPRECATED",
          "description": "DEPRECATED - use the payment_id property in the payment_means_array",
          "type": "string"
        },
        "payment_means": {
          "title": "Payment Means - DEPRECATED",
          "description": "DEPRECATED - Use the new payment_means_array array.",
          "type": "object",
          "properties": {
            "iban": {
              "title": "IBAN",
              "description": "The IBAN to which to transfer.",
              "type": "string"
            },
            "id": {
              "title": "Id",
              "description": "An id to mention in the transfer.",
              "type": "string"
            }
          }
        },
        "payment_means_array": {
          "title": "Payment Means",
          "description": "The different payment means that can be used to pay the invoice.",
          "type": "array",
          "items": { "$ref": "#/definitions/PurchaseInvoicePaymentMeans" }
        },
        "delivery": {
          "title": "PurchaseInvoice Delivery",
          "description": "The details of the delivery associated with this invoice.",
          "type": "object",
          "properties": {
            "actual_date": {
              "title": "Actual Date",
              "description": "The actual delivery date.",
              "type": "string"
            },
            "party": {
              "title": "PurchaseInvoice Party",
              "description": "The party the goods/services were delivered to.",
              "type": "object",
              "properties": {
                "name": {
                  "title": "Name",
                  "description": "The name of the deliveyr party.",
                  "type": "string"
                }
              }
            },
            "location": {
              "title": "Location",
              "description": "The location the goods/services were delivered to.",
              "type": "object",
              "properties": {
                "id": {
                  "title": "Id",
                  "description": "The id of the location.",
                  "type": "string"
                },
                "scheme_id": {
                  "title": "Scheme Id",
                  "description": "The scheme id for the id of the location.",
                  "type": "string"
                },
                "department": {
                  "title": "Department",
                  "description": "Department name.",
                  "type": "string"
                },
                "line1": {
                  "title": "Line 1",
                  "description": "Address line 1.",
                  "type": "string"
                },
                "line2": {
                  "title": "Line 2",
                  "description": "Address line 2.",
                  "type": "string"
                },
                "zip": {
                  "title": "Zip",
                  "description": "Address zip code",
                  "type": "string"
                },
                "city": {
                  "title": "City",
                  "description": "Address city.",
                  "type": "string"
                },
                "county": {
                  "title": "County",
                  "description": "Address county.",
                  "type": "string"
                },
                "country": {
                  "title": "Country",
                  "description": "Address country.",
                  "type": "string"
                }
              }
            }
          }
        },
        "accounting": {
          "title": "Accounting Details - DEPRECATED",
          "description": "DEPRECATED - The accounting details for the invoice. Will only evern contain null properties.",
          "type": "object",
          "$ref": "#/definitions/PurchaseInvoiceAccountingDetails"
        },
        "accounting_cost": {
          "title": "Accounting Cost",
          "description": "The accounting cost code.",
          "type": "string"
        },
        "invoice_lines": {
          "type": "array",
          "items": { "$ref": "#/definitions/PurchaseInvoiceInvoiceLine" }
        },
        "tax_subtotals": {
          "type": "array",
          "items": { "$ref": "#/definitions/PurchaseInvoiceTaxSubtotal" }
        }
      }
    },
    "PurchaseInvoiceAccountingDetails": {
      "properties": {
        "code": {
          "title": "Code",
          "description": "The the code of the general ledger account.",
          "type": "string"
        },
        "name": {
          "title": "Name",
          "description": "A textual description of the code.",
          "type": "string"
        },
        "list": {
          "title": "List",
          "description": "The name of the list for the code, e.g. \"RGS\".",
          "type": "string"
        },
        "list_version": {
          "title": "List Version",
          "description": "The version of the list for the code, e.g. \"1.1\".",
          "type": "string"
        }
      }
    },
    "PurchaseInvoicePaymentMeans": {
      "properties": {
        "type": {
          "title": "Type",
          "description": "The type of payment means.",
          "enum": [
            "BankPaymentMean",
            "CardPaymentMean",
            "DirectDebitPaymentMean",
            "NppPaymentMean",
            "SeBankgiroPaymentMean",
            "SePlusGiroPaymentMean",
            "SgCardPaymentMean",
            "SgGiroPaymentMean",
            "SgPaynowPaymentMean"
          ]
        },
        "account": {
          "title": "Account Number",
          "description": "The account number to which to transfer.",
          "type": "string"
        },
        "holder": {
          "title": "Account Holder",
          "description": "The account holder name to which to transfer.",
          "type": "string"
        },
        "branch_code": {
          "title": "Branch code",
          "description": "The code identifying the bank branch. May contain a BIC/SWIFT or something appropriate for the payment method, such as \"NPP\" for type NppPaymentMean.",
          "type": "string"
        },
        "mandate": {
          "title": "Mandate",
          "description": "The mandate, used only for type DirectDebitPaymentMean.",
          "type": "string"
        },
        "network": {
          "title": "Network",
          "description": "The payment network. Used only for type CardPaymentType.",
          "type": "string"
        },
        "payment_id": {
          "title": "Id",
          "description": "The payment id to use when making the payment. The invoice sender will use this to match the received funds to the invoice.",
          "type": "string"
        }
      }
    },
    "PurchaseInvoiceSender": {
      "properties": {
        "party_name": {
          "title": "Party Name",
          "description": "The party who sent the invoice.",
          "type": "string"
        },
        "department": {
          "title": "Department",
          "description": "The department who sent the invoice.",
          "type": "string"
        },
        "line1": {
          "title": "Address Line 1",
          "description": "The address",
          "type": "string"
        },
        "line2": {
          "title": "Address Line 2",
          "description": "The address, line 2",
          "type": "string"
        },
        "zip": {
          "title": "Zip",
          "description": "The zip code.",
          "type": "string"
        },
        "city": {
          "title": "City",
          "description": "The city.",
          "type": "string"
        },
        "county": {
          "title": "County",
          "description": "The county.",
          "type": "string"
        },
        "country": {
          "title": "Country",
          "description": "The country.",
          "type": "string"
        },
        "billing_contact": {
          "title": "Billing Contact",
          "description": "The billing contact for the invoice.",
          "type": "object",
          "$ref": "#/definitions/PurchaseInvoiceSenderBillingContact"
        },
        "peppol_identifiers": {
          "title": "Peppol Identifiers - DEPRECATED",
          "description": "DEPRECATED - Use the identifiers array.",
          "type": "array",
          "$ref": "#/definitions/PeppolIdentifier"
        },
        "identifiers": {
          "title": "Identifiers",
          "description": "The array of identifiers for this sender.",
          "type": "array",
          "items": { "$ref": "#/definitions/PeppolIdentifier" }
        }
      }
    },
    "PurchaseInvoiceSenderBillingContact": {
      "properties": {
        "first_name": {
          "title": "First Name",
          "description": "The first name of the billing contact.",
          "type": "string"
        },
        "last_name": {
          "title": "Last Name",
          "description": "The last name of the billing contact.",
          "type": "string"
        },
        "email": {
          "title": "Email",
          "description": "The email of the billing contact.",
          "type": "string"
        }
      }
    },
    "PurchaseInvoiceAttachment": {
      "properties": {
        "document": {
          "title": "Document",
          "description": "The Base64 encoded document attachment.",
          "type": "string"
        },
        "content_type": {
          "title": "Content Type",
          "description": "The attachment content type (mime type).",
          "type": "string"
        }
      }
    },
    "PurchaseInvoiceAllowanceCharge": {
      "properties": {
        "amount_excluding_vat": {
          "title": "Amount Excluding VAT - DEPRECATED",
          "description": "DEPRECATED - use amount_excluding_tax.",
          "type": "string"
        },
        "vat": { "$ref": "#/definitions/PurchaseInvoiceVat" },
        "amount_excluding_tax": {
          "title": "Amount Excluding Tax",
          "description": "The amount excluding tax.",
          "type": "number"
        },
        "tax": { "$ref": "#/definitions/PurchaseInvoiceTax" },
        "reason": {
          "title": "AllowanceCharge reason",
          "description": "The reason for the allowance or charge.",
          "type": "string"
        }
      }
    },
    "PurchaseInvoiceTaxSubtotal": {
      "properties": {
        "amount_excluding_vat": {
          "title": "Amount Excluding VAT - DEPRECATED",
          "description": "DEPRECATED - use amount_excluding_tax.",
          "type": "string"
        },
        "vat": { "$ref": "#/definitions/PurchaseInvoiceVat" },
        "amount_excluding_tax": {
          "title": "Amount Excluding Tax",
          "description": "The amount excluding tax.",
          "type": "number"
        },
        "tax": { "$ref": "#/definitions/PurchaseInvoiceTax" }
      }
    },
    "PurchaseInvoiceVat": {
      "title": "VAT - DEPRECATED",
      "description": "DEPRECATED - Use tax.",
      "type": "object",
      "properties": {
        "amount": {
          "title": "Country",
          "description": "The VAT country.",
          "type": "string"
        },
        "percentage": {
          "title": "Percentage",
          "description": "The VAT percentage.",
          "type": "string"
        }
      }
    },
    "PurchaseInvoiceTax": {
      "properties": {
        "tax": {
          "title": "PurchaseInvoiceTaxElement",
          "description": "The tax element.",
          "type": "object",
          "properties": {
            "amount": {
              "title": "Country",
              "description": "The tax country.",
              "type": "string"
            },
            "percentage": {
              "title": "Percentage",
              "description": "The tax percentage.",
              "type": "number"
            },
            "category": {
              "title": "Category",
              "description": "The tax category.",
              "type": "string"
            },
            "category_code": {
              "title": "Category Code",
              "description": "The tax category code.",
              "type": "string"
            },
            "type": {
              "title": "Type",
              "description": "The tax type.",
              "type": "string"
            }
          }
        }
      }
    },
    "PurchaseInvoiceInvoiceLineAllowanceCharge": {
      "properties": {
        "amount": {
          "title": "Allowance or Charge",
          "description": "The amount of the allowance or charge.",
          "type": "number"
        }
      }
    },
    "PurchaseInvoiceInvoiceLine": {
      "properties": {
        "description": {
          "title": "Description",
          "description": "The description for the invoice line.",
          "type": "string"
        },
        "price_amount": {
          "title": "Price Amount",
          "description": "The price for one item, excluding VAT.",
          "type": "number"
        },
        "quantity": {
          "title": "Quantity",
          "description": "The quantity of the item.",
          "type": "number"
        },
        "allowance_charge": {
          "title": "Allowance Charge - DEPRECATED",
          "description": "DEPRECATED - use allowance_charges.",
          "type": "number"
        },
        "allowance_charges": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PurchaseInvoiceInvoiceLineAllowanceCharge"
          }
        },
        "amount_excluding_vat": {
          "title": "DEPRECTATED - use amount_excluding_tax Amount Excluding VAT",
          "description": "DEPRECTATED - use amount_excluding_tax The amount excluding VAT.",
          "type": "number"
        },
        "amount_excluding_tax": {
          "title": "Amount Excluding Tax",
          "description": "The amount excluding Tax. This is equal to quantity x price_amount + ∑ allowance_charges.",
          "type": "number"
        },
        "vat": {
          "title": "VAT Details",
          "description": "The VAT details for the invoice line.",
          "type": "object",
          "properties": {
            "amount": {
              "title": "Amount",
              "description": "The amount of VAT for the invoice line.",
              "type": "number"
            },
            "percentage": {
              "title": "Percentage",
              "description": "The percentage of VAT for the invoice line.",
              "type": "number"
            },
            "country": {
              "title": "Country",
              "description": "The ISO 3166 country of the VAT for the invoice line.",
              "type": "string"
            }
          }
        },
        "accounting": {
          "title": "Accounting Details",
          "description": "The accounting details for the invoice line.",
          "type": "object",
          "$ref": "#/definitions/PurchaseInvoiceAccountingDetails"
        }
      }
    },
    "WebhookInstance": {
      "properties": {
        "guid": {
          "title": "GUID",
          "description": "The GUID of the WebhookInstance. Use this to delete it.",
          "type": "string",
          "format": "uuid"
        },
        "body": {
          "type": "string",
          "title": "Body",
          "description": "The webhook body that would have been pushed if this were a push-mode webhook."
        }
      }
    },
    "ErrorModel": {
      "properties": {
        "source": { "type": "string" },
        "details": { "type": "string" }
      }
    },
    "Tax": {
      "type": "object",
      "properties": {
        "amount": {
          "title": "Amount of Tax",
          "description": "The amount of tax. Mandatory if taxSystem == 'tax_line_amounts'. However, it is best to use taxSystem tax_line_percentages and provide only the percentage, not the actual amount. The amount is then provided at the invoice level, in the taxSubtotals element.",
          "type": "number"
        },
        "percentage": {
          "title": "Percentage Tax",
          "description": "The percentage Tax. This should be a valid Tax percentage in the country at the time of the issueDate of this invoice. Mandatory if taxSystem == 'tax_line_percentages'",
          "type": "number"
        },
        "country": { "$ref": "#/definitions/Country" },
        "category": {
          "title": "Tax category",
          "description": "The optional category code for the tax. This is not mandatory, but highly recommended. If not provided, it will be automatically derived from the country/percentage in combination with the invoice taxPointDate (which defaults to the issueDate), but there are situations in which this fails and the category needs to be specified explicitly. In particular, there are multiple categories available for 0%. The allowed values depend on the country of the tax.\n++++\n<ul><li>AU/NZ:<ul><li>standard (S)</li><li>zero_rated (Z - 0%)</li><li>exempt (E - 0%)</li><li>export (G - 0%)</li><li>outside_scope (O - 0%)</li></ul></li><li>EU:<ul><li>standard (S)</li><li>zero_rated (Z - 0%)</li><li>reverse_charge (AE - 0%)</li><li>intra_community (K - 0%)</li><li>exempt (E - 0%)</li><li>export (G - 0%)</li><li>outside_scope (O - 0%)</li></ul></li><li>SG:<ul><li>standard (SR)</li><li>deemed_supply (DS)</li><li>srca_s (SRCA-S)</li><li>srca_c (SRCA-C - 0%)</li><li>zero_rated (ZR - 0%)</li><li>regulation33_exempt (ES33 - 0%)</li><li>nonregulation33_exempt (ESN33 - 0%)</li><li>outside_scope (OS - 0%)</li><li>not_registered (NG - 0%)</li></ul></li><li>MY:<ul><li>sales_tax (S), also 0%</li><li>sales_tax_work (SW)</li><li>service_tax (SV), also 0%</li><li>service_tax_import (SVI)</li><li>sales_export_market (EEM)</li><li>sales_special_area (ESP)</li><li>sales_designated_area (EDA)</li><li>exemption_schedule_a (ESA)</li><li>exemption_schedule_b (ESB)</li><li>exemption_schedule_c_a (ESC-A)</li><li>exemption_schedule_c_b (ESC-B)</li><li>exemption_schedule_c_c (ESC-C)</li><li>exemption_service_tax (ESV)</li></ul></li></ul>\n++++",
          "type": "string",
          "enum": [
            "standard",
            "zero_rated",
            "reverse_charge",
            "intra_community",
            "exempt",
            "export",
            "outside_scope",
            "regulation33_exempt",
            "nonregulation33_exempt",
            "deemed_supply",
            "srca_s",
            "srca_c",
            "not_registered",
            "sales_tax",
            "sales_tax_work",
            "service_tax",
            "service_tax_import",
            "sales_to_export_market",
            "sales_to_special_area",
            "sales_to_designated_area",
            "exemption_schedule_a",
            "exemption_schedule_b",
            "exemption_schedule_c_a",
            "exemption_schedule_c_b",
            "exemption_schedule_c_c",
            "exemption_service_tax"
          ]
        }
      },
      "required": ["country"]
    },
    "Country": {
      "title": "Country",
      "description": "An ISO 3166-1 alpha-2 country code.",
      "type": "string",
      "enum": [
        "AD",
        "AE",
        "AF",
        "AG",
        "AI",
        "AL",
        "AM",
        "AO",
        "AQ",
        "AR",
        "AS",
        "AT",
        "AU",
        "AW",
        "AX",
        "AZ",
        "BA",
        "BB",
        "BD",
        "BE",
        "BF",
        "BG",
        "BH",
        "BI",
        "BJ",
        "BL",
        "BM",
        "BN",
        "BO",
        "BQ",
        "BR",
        "BS",
        "BT",
        "BV",
        "BW",
        "BY",
        "BZ",
        "CA",
        "CC",
        "CD",
        "CF",
        "CG",
        "CH",
        "CI",
        "CK",
        "CL",
        "CM",
        "CN",
        "CO",
        "CR",
        "CU",
        "CV",
        "CW",
        "CX",
        "CY",
        "CZ",
        "DE",
        "DJ",
        "DK",
        "DM",
        "DO",
        "DZ",
        "EC",
        "EE",
        "EG",
        "EH",
        "ER",
        "ES",
        "ET",
        "FI",
        "FJ",
        "FK",
        "FM",
        "FO",
        "FR",
        "GA",
        "GB",
        "GD",
        "GE",
        "GF",
        "GG",
        "GH",
        "GI",
        "GL",
        "GM",
        "GN",
        "GP",
        "GQ",
        "GR",
        "GS",
        "GT",
        "GU",
        "GW",
        "GY",
        "HK",
        "HM",
        "HN",
        "HR",
        "HT",
        "HU",
        "ID",
        "IE",
        "IL",
        "IM",
        "IN",
        "IO",
        "IQ",
        "IR",
        "IS",
        "IT",
        "JE",
        "JM",
        "JO",
        "JP",
        "KE",
        "KG",
        "KH",
        "KI",
        "KM",
        "KN",
        "KP",
        "KR",
        "KW",
        "KY",
        "KZ",
        "LA",
        "LB",
        "LC",
        "LI",
        "LK",
        "LR",
        "LS",
        "LT",
        "LU",
        "LV",
        "LY",
        "MA",
        "MC",
        "MD",
        "ME",
        "MF",
        "MG",
        "MH",
        "MK",
        "ML",
        "MM",
        "MN",
        "MO",
        "MP",
        "MQ",
        "MR",
        "MS",
        "MT",
        "MU",
        "MV",
        "MW",
        "MX",
        "MY",
        "MZ",
        "NA",
        "NC",
        "NE",
        "NF",
        "NG",
        "NI",
        "NL",
        "NO",
        "NP",
        "NR",
        "NU",
        "NZ",
        "OM",
        "PA",
        "PE",
        "PF",
        "PG",
        "PH",
        "PK",
        "PL",
        "PM",
        "PN",
        "PR",
        "PS",
        "PT",
        "PW",
        "PY",
        "QA",
        "RE",
        "RO",
        "RS",
        "RU",
        "RW",
        "SA",
        "SB",
        "SC",
        "SD",
        "SE",
        "SG",
        "SH",
        "SI",
        "SJ",
        "SK",
        "SL",
        "SM",
        "SN",
        "SO",
        "SR",
        "SS",
        "ST",
        "SV",
        "SX",
        "SY",
        "SZ",
        "TC",
        "TD",
        "TF",
        "TG",
        "TH",
        "TJ",
        "TK",
        "TL",
        "TM",
        "TN",
        "TO",
        "TR",
        "TT",
        "TV",
        "TW",
        "TZ",
        "UA",
        "UG",
        "UM",
        "US",
        "UY",
        "UZ",
        "VA",
        "VC",
        "VE",
        "VG",
        "VI",
        "VN",
        "VU",
        "WF",
        "WS",
        "YE",
        "YT",
        "ZA",
        "ZM",
        "ZW"
      ]
    },
    "CurrencyCode": {
      "title": "Currency",
      "description": "The ISO 4217 currency code.",
      "type": "string",
      "enum": [
        "AED",
        "AFN",
        "ALL",
        "AMD",
        "ANG",
        "AOA",
        "ARS",
        "AUD",
        "AWG",
        "AZN",
        "BAM",
        "BBD",
        "BDT",
        "BGN",
        "BHD",
        "BIF",
        "BMD",
        "BND",
        "BOB",
        "BOV",
        "BRL",
        "BSD",
        "BTN",
        "BWP",
        "BYN",
        "BYR",
        "BZD",
        "CAD",
        "CDF",
        "CHE",
        "CHF",
        "CHW",
        "CLF",
        "CLP",
        "CNY",
        "COP",
        "COU",
        "CRC",
        "CUC",
        "CUP",
        "CVE",
        "CZK",
        "DJF",
        "DKK",
        "DOP",
        "DZD",
        "EGP",
        "ERN",
        "ETB",
        "EUR",
        "FJD",
        "FKP",
        "GBP",
        "GEL",
        "GHS",
        "GIP",
        "GMD",
        "GNF",
        "GTQ",
        "GYD",
        "HKD",
        "HNL",
        "HRK",
        "HTG",
        "HUF",
        "IDR",
        "ILS",
        "INR",
        "IQD",
        "IRR",
        "ISK",
        "JMD",
        "JOD",
        "JPY",
        "KES",
        "KGS",
        "KHR",
        "KMF",
        "KPW",
        "KRW",
        "KWD",
        "KYD",
        "KZT",
        "LAK",
        "LBP",
        "LKR",
        "LRD",
        "LSL",
        "LYD",
        "MAD",
        "MDL",
        "MGA",
        "MKD",
        "MMK",
        "MNT",
        "MOP",
        "MRO",
        "MUR",
        "MVR",
        "MWK",
        "MXN",
        "MXV",
        "MYR",
        "MZN",
        "NAD",
        "NGN",
        "NIO",
        "NOK",
        "NPR",
        "NZD",
        "OMR",
        "PAB",
        "PEN",
        "PGK",
        "PHP",
        "PKR",
        "PLN",
        "PYG",
        "QAR",
        "RON",
        "RSD",
        "RUB",
        "RWF",
        "SAR",
        "SBD",
        "SCR",
        "SDG",
        "SEK",
        "SGD",
        "SHP",
        "SLL",
        "SOS",
        "SRD",
        "SSP",
        "STD",
        "SYP",
        "SZL",
        "THB",
        "TJS",
        "TMT",
        "TND",
        "TOP",
        "TRY",
        "TTD",
        "TWD",
        "TZS",
        "UAH",
        "UGX",
        "USD",
        "USN",
        "UYI",
        "UYU",
        "UZS",
        "VEF",
        "VND",
        "VUV",
        "WST",
        "XAF",
        "XAG",
        "XAU",
        "XBA",
        "XBB",
        "XBC",
        "XBD",
        "XCD",
        "XDR",
        "XFU",
        "XOF",
        "XPD",
        "XPF",
        "XPT",
        "XSU",
        "XTS",
        "XUA",
        "XXX",
        "YER",
        "ZAR",
        "ZMW"
      ]
    },
    "Attachment": {
      "title": "Invoice Attachment",
      "description": "A document attachment to the invoice.",
      "type": "object",
      "properties": {
        "document": {
          "title": "Document Attachment",
          "description": "The base64 encoded version of the document attachment.",
          "type": "string",
          "minLength": 5
        },
        "mimeType": {
          "title": "Mime Type",
          "description": "The document attachment mime type. Currently only application/pdf is allowed.",
          "type": "string",
          "enum": ["application/pdf"]
        },
        "filename": {
          "title": "Filename",
          "description": "The name of the file attachment.",
          "type": "string",
          "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9._-]*[a-zA-Z0-9])?\\.[a-zA-Z0-9_-]+$"
        },
        "primaryImage": {
          "title": "Primary Image",
          "description": "Whether or not this document is a visual representation of the invoice data.",
          "type": "boolean",
          "default": false
        }
      },
      "required": ["document", "mimeType"]
    },
    "InvoiceSubmissionResult": {
      "title": "Invoice submission result",
      "description": "The result of an invoice submission",
      "type": "object",
      "properties": {
        "guid": {
          "title": "GUID",
          "description": "A (V4) GUID for the invoice submission",
          "type": "string"
        }
      }
    },
    "DocumentSubmissionResult": {
      "title": "Document submission result",
      "description": "The result of a document submission",
      "type": "object",
      "properties": {
        "guid": {
          "title": "GUID",
          "description": "A (V4) GUID for the document submission",
          "type": "string"
        }
      }
    },
    "PreflightInvoiceRecipientResult": {
      "title": "Preflight invoice recipient result",
      "description": "The result of preflighting an invoice recipient",
      "type": "object",
      "properties": {
        "code": {
          "title": "Result code",
          "description": "The result code of the preflight request",
          "type": "string",
          "enum": ["ok", "nok"]
        }
      }
    },
    "InvoiceSubmission": {
      "title": "Invoice submission",
      "description": "The invoice you want Storecove to process, with some meta-data.",
      "type": "object",
      "properties": {
        "createPrimaryImage": {
          "title": "Create Primary Image",
          "description": "Whether or not to create a primary image (PDF) if one is not provided.",
          "type": "boolean",
          "default": true
        },
        "mode": {
          "title": "Mode",
          "description": "DEPRECATED.",
          "type": "string",
          "enum": ["direct"]
        },
        "supplierId": {
          "title": "Supplier id",
          "description": "DEPRECATED.",
          "type": "integer"
        },
        "legalSupplierId": {
          "title": "The legal supplier id",
          "description": "DEPRECATED. Use legalEntityId",
          "type": "integer"
        },
        "legalEntityId": {
          "title": "The LegalEntity id",
          "description": "The id of the LegalEntity this invoice should be sent for.",
          "type": "integer"
        },
        "idempotencyGuid": {
          "title": "Idempotency GUID",
          "description": "A guid that you generated for this InvoiceSubmission to achieve idempotency. If you submit multiple documents with the same idempotencyGuid, only the first one will be processed.",
          "type": "string",
          "minLength": 36,
          "maxLength": 36
        },
        "invoiceRecipient": {
          "title": "Invoice recipient",
          "description": "DEPRECATED. Use the routing and accountingCustomerParty.publicIdentifiers properties.",
          "$ref": "#/definitions/InvoiceRecipient"
        },
        "routing": {
          "title": "Routing destinations",
          "description": "Specifies where the invoice is to be sent. Can be electronic identifiers or email addresses.",
          "$ref": "#/definitions/Routing"
        },
        "attachments": {
          "title": "Attachments",
          "description": "An array of attachments. You may provide up to 10 attchments, but the total size must not exceed 10MB after Base64 encoding.",
          "type": "array",
          "maxItems": 10,
          "items": { "$ref": "#/definitions/Attachment" }
        },
        "document": {
          "title": "Document",
          "description": "DEPRECATED. Use attachments.",
          "type": "string"
        },
        "documentUrl": {
          "title": "Document Url",
          "description": "DEPRECATED. Use attachments.",
          "type": "string",
          "format": "uri"
        },
        "invoice": { "$ref": "#/definitions/Invoice" },
        "invoiceData": { "$ref": "#/definitions/InvoiceData" }
      }
    },
    "DocumentSubmission": {
      "title": "Document submission",
      "description": "The document you want Storecove to send, with some meta-data.",
      "type": "object",
      "properties": {
        "createPrimaryImage": {
          "title": "Create Primary Image",
          "description": "Whether or not to create a primary image (PDF) if one is not provided.",
          "type": "boolean",
          "default": true
        },
        "legalEntityId": {
          "title": "LegalEntity Id",
          "description": "The id of the LegalEntity this document should be sent on behalf of. Either legalEntityId or receiveGuid is mandatory.",
          "type": "integer"
        },
        "receiveGuid": {
          "title": "Receive GUID",
          "description": "The GUID that was in the received_invoice webhook. Either legalEntityId or receiveGuid is mandatory.",
          "type": "string"
        },
        "routing": {
          "title": "Routing destinations",
          "description": "Specifies where the document is to be sent. Can be electronic identifiers or email addresses.",
          "$ref": "#/definitions/Routing"
        },
        "idempotencyGuid": {
          "title": "Idempotency GUID",
          "description": "A guid that you generated for this DocumentSubmission to achieve idempotency. If you submit multiple documents with the same idempotencyGuid, only the first one will be processed and any subsequent ones will trigger an HTTP 422 Unprocessable Entity response.",
          "type": "string",
          "minLength": 36,
          "maxLength": 36
        },
        "attachments": {
          "title": "Attachments",
          "description": "An array of attachments. You may provide up to 10 attchments, but the total size must not exceed 10MB after Base64 encoding.",
          "type": "array",
          "maxItems": 10,
          "items": { "$ref": "#/definitions/Attachment" }
        },
        "document": { "$ref": "#/definitions/SendableDocument" }
      }
    },
    "SendableDocument": {
      "title": "Sendable Document",
      "description": "The document to send.",
      "type": "object",
      "properties": {
        "documentType": {
          "title": "Document Type",
          "description": "The type of document to be sent.",
          "type": "string",
          "enum": ["invoice", "invoice_response"]
        },
        "invoice": { "$ref": "#/definitions/Invoice" },
        "invoiceResponse": { "$ref": "#/definitions/DocumentInvoiceResponse" },
        "rawDocumentData": { "$ref": "#/definitions/RawDocumentData" }
      },
      "required": ["documentType"]
    },
    "InvoiceData": {
      "title": "Invoice Data",
      "description": "The invoice to send, in base64 encoded format. Provide either invoice, or invoiceData, but not both.",
      "type": "object",
      "properties": {
        "conversionStrategy": {
          "title": "Conversion Strategy",
          "description": "How to interpret the document.",
          "type": "string",
          "enum": ["ubl", "cii", "idoc"]
        },
        "document": {
          "title": "Document",
          "description": "The base64 encoded version of the document.",
          "type": "string",
          "minLength": 5
        }
      }
    },
    "RawDocumentData": {
      "title": "Raw Document Data",
      "description": "A document to send, in base64 encoded format.",
      "type": "object",
      "properties": {
        "parse": {
          "title": "Parse",
          "description": "*** NOTE: only parse == true is currently supported *** *** NOTE: parsing is only supported for documentType == 'invoice' *** Whether or not to parse the document. If true, the data will be extracted from the document and used to construct a new document. If false, the document will be sent as is. In this case, you must ensure the document validates without any errors against the relevant validation artifacts for that processId/documentTypeId. We automatically apply updates of the validation artificats, respecting the grace period provided by the issuer. During that period, documents that validate against either the old as well as against the new artifacts are accepted. After the grace period, your document must validate against the new artifacts. You are also responsible for making sure your receiver is able to receive the updated document.",
          "type": "boolean",
          "default": true
        },
        "parseStrategy": {
          "title": "Parse Strategy",
          "description": "How to parse the document. Only needed when parse == true.",
          "type": "string",
          "enum": ["ubl", "cii", "idoc"]
        },
        "processId": {
          "title": "Process Id",
          "description": "The process id of the document. Required when parse == false.",
          "type": "string"
        },
        "documentTypeId": {
          "title": "Document Type Id",
          "description": "The document type id of the document. Required when parse == false.",
          "type": "string"
        },
        "document": {
          "title": "Document",
          "description": "The base64 encoded version of the document.",
          "type": "string",
          "minLength": 5
        }
      },
      "required": ["document"]
    },
    "DocumentInvoiceResponse": {
      "title": "Document Invoice Response",
      "description": "The invoice response to send.",
      "type": "object",
      "properties": {
        "responseCode": {
          "title": "Response Code",
          "description": "The response code. For details see https://docs.peppol.eu/poacc/upgrade-3/codelist/UNCL4343-T111/",
          "type": "string",
          "enum": ["AB", "IP", "UQ", "RE", "AP", "PD"]
        },
        "note": {
          "title": "Note",
          "description": "A note to add to the invoice reponse",
          "type": "string"
        },
        "effectiveDate": {
          "title": "Effective Date",
          "description": "The date when the status became effective. Format: yyyy-mm-dd.",
          "type": "string",
          "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        },
        "clarifications": {
          "title": "Clarifications",
          "description": "A list of clarifications why a received invoice was rejected (RE) or under query (UQ) and what action to take.",
          "type": "array",
          "items": { "$ref": "#/definitions/InvoiceResponseClarification" },
          "minItems": 0
        }
      },
      "required": ["receivedInvoiceGuid", "responseCode"]
    },
    "InvoiceResponseClarification": {
      "title": "Invoice Response Clarification",
      "description": "A clarification for why a received invoice was rejected (RE) or under query (UQ) and what action to take.",
      "type": "object",
      "properties": {
        "clarificationCodeType": {
          "title": "Clarification Code Type",
          "description": "The type of the clarification.",
          "type": "string",
          "enum": ["OPStatusReason", "OPStatusAction"]
        },
        "clarificationCode": {
          "title": "Clarification Code",
          "description": "The code for the clarification. For details see https://docs.peppol.eu/poacc/upgrade-3/codelist/OPStatusReason/ and https://docs.peppol.eu/poacc/upgrade-3/codelist/OPStatusAction/",
          "type": "string",
          "enum": [
            "REF",
            "LEG",
            "REC",
            "QUA",
            "DEL",
            "PRI",
            "QTY",
            "ITM",
            "PAY",
            "UNR",
            "FIN",
            "OTH",
            "PIN",
            "NIN",
            "CNF",
            "CNP",
            "CNA"
          ]
        },
        "clarification": {
          "title": "Clarification",
          "description": "A textual description of the clarification",
          "type": "string"
        }
      },
      "required": ["clarificationCodeType", "clarificationCode"]
    },
    "Invoice": {
      "title": "Invoice",
      "description": "The invoice to send.  Provide either invoice, or invoiceData, but not both.",
      "type": "object",
      "properties": {
        "ublExtensions": {
          "title": "UBL Extensions",
          "description": "An array of ubl extensions.",
          "type": "array",
          "items": { "type": "string" }
        },
        "taxSystem": {
          "title": "Tax System",
          "description": "The tax system used for the invoice. The system 'tax_line_percentages' is preferred, but for historic purposes 'tax_line_amounts is supported and default. Since not all invoice formats that we are required to send support 'tax_line_amounts' we will need to convert the invoice to the 'tax_line_percentags' system if we are forced to send the invoice in that tax system.",
          "type": "string",
          "enum": ["tax_line_amounts", "tax_line_percentages", "tax_no_tax"],
          "default": "tax_line_amounts"
        },
        "consumerTaxMode": {
          "title": "Consumer Tax Mode",
          "description": "Whether or not to process the invoice in consumer tax mode. In this mode, the VAT identifier of the sender will not be the default VAT identifier, but the one that matches with the country of the receiving consumer, if that additional VAT identifier for that country is available. These additional VAT identifiers need to be added to the sending LegalEntity by Storecove, so if you need to send invoices in this mode, please contact us.",
          "type": "boolean",
          "default": false
        },
        "documentCurrencyCode": {
          "description": "The documentCurrencyCode is the currency for the entire invoice. We currently do not support invoices in multiple currencies. If left out, will default to EUR",
          "$ref": "#/definitions/CurrencyCode",
          "default": "EUR"
        },
        "invoiceNumber": {
          "title": "Invoice number",
          "description": "The invoice number you assigned to the invoice. The invoiceNumber should be unique for the legalEntityId and year of the issueDate. This means invoice numbers can be reused in different years, as is customary in some countries.",
          "type": "string",
          "minLength": 1
        },
        "issueDate": {
          "title": "Invoice issue date",
          "description": "Format: yyyy-mm-dd.",
          "type": "string",
          "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        },
        "vatReverseCharge": {
          "description": "DEPRECTATED. Use taxExemptReason.",
          "type": "boolean",
          "default": false
        },
        "taxExemptReason": {
          "description": "DEPRECATED. Use Tax/category and specify this per invoice line. If you do specify this field, it will be applied to all invoice lines and it is an error to specify a Tax/category at the invoice line level. This field holds the reason no tax is present in the invoice. Note that this is an invoice level field and you cannot specify it per invoice line. This field is mandatory unless tax is present in the invoice.",
          "type": "string",
          "enum": [
            "export",
            "reverse_charge",
            "zero_rated",
            "exempt",
            "outside_scope",
            "intra_community"
          ]
        },
        "accountingSupplierParty": {
          "description": "The party sending the invoice. Most data for the AccountingSupplierParty is taken from the Storecove database, where your sender identity resides and has been validated. However, we provide a limited number of fields (mainly contact fields) here that you can specify on an invoice-by-invoice basis. Contact us if you want to use this feature.",
          "$ref": "#/definitions/AccountingSupplierParty"
        },
        "accountingCustomerParty": {
          "description": "The party the invoice is sent to.",
          "$ref": "#/definitions/AccountingCustomerParty"
        },
        "note": {
          "title": "Note",
          "description": "A note to add to the invoice",
          "type": "string"
        },
        "paymentTerms": {
          "title": "The Payment Terms",
          "description": "The payment terms of the invoice.",
          "type": "object",
          "properties": {
            "note": {
              "title": "The Payment Terms Note",
              "description": "The note for the payment terms.",
              "type": "string"
            }
          }
        },
        "delivery": {
          "title": "The Delivery",
          "description": "The delivery of the invoice.",
          "$ref": "#/definitions/Delivery"
        },
        "allowanceCharges": {
          "title": "Allowance Charges",
          "description": "An array of allowance charges.",
          "type": "array",
          "items": { "$ref": "#/definitions/AllowanceCharge" },
          "minItems": 0
        },
        "invoiceLines": {
          "title": "Invoice lines",
          "description": "An array of invoice lines.",
          "type": "array",
          "items": { "$ref": "#/definitions/InvoiceLine" },
          "minItems": 1
        },
        "taxSubtotals": {
          "title": "Tax Subtotals",
          "description": "An array of tax subtotals. This element is mandatory for taxSystem 'tax_line_percentages'.",
          "type": "array",
          "items": { "$ref": "#/definitions/TaxSubtotal" },
          "minItems": 0
        },
        "prepaidAmount": {
          "title": "Prepaid Amount",
          "description": "The amount already paid.",
          "type": "number"
        },
        "accountingCost": {
          "title": "Accounting Cost",
          "description": "The buyer's accounting cost centre for this invoice, expressed as text.",
          "type": "string",
          "minLength": 1
        },
        "dueDate": {
          "title": "Due date",
          "description": "Format: yyyy-mm-dd.",
          "type": "string",
          "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        },
        "invoiceType": {
          "title": "Type of invoice",
          "description": "Do not use. This field is available for legacy reasons only. If you want to send a regular invoice (aka UBL type '380'), make sure you have a positive invoice amount. For a credit note (aka UBL type '381'), simply provide a negative invoice amount. If you, in addition to a negative invoice amount, also specify a billingReferences, your invoice will become a corrective invoice (aka UBL type '384'). If your invoice is not sent in the UBL syntax, Storecove will provide the appropriate type for the syntax the invoice is sent in.",
          "type": "string",
          "enum": ["380", "381", "384"],
          "default": "380"
        },
        "taxPointDate": {
          "title": "Tax date",
          "description": "The tax date is the date on which the supply of goods or of services was made or completed or the date on which the payment on account was made insofar as that date can be determined and differs from the date of the issue of the invoice. EU 2006-112 Article 226 Point 7. Note: For the Dutch TAX authorities the tac date should be the same as the issue date.",
          "type": "string",
          "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        },
        "buyerReference": {
          "title": "Buyer reference",
          "description": "A reference provided by the buyer used for internal routing of the document.",
          "type": "string"
        },
        "invoicePeriod": {
          "title": "Invoice period",
          "description": "The period (or specific date) to which the invoice applies. Format: yyyy-mm-dd - yyyy-mm-dd.",
          "type": "string",
          "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2} - [0-9]{4}-[0-9]{2}-[0-9]{2}$"
        },
        "orderReference": {
          "title": "Order reference",
          "description": "A reference to an order for this invoice, assigned by the buyer. Note that this often is a key field, since many receivers of invoices will use this field to automatically match the invoice to an order they placed. Many receivers refuse invoices that cannot be automatically matched, in particular government agencies. So it is highly recommended to fill this field whenever possible.",
          "type": "string"
        },
        "salesOrderId": {
          "title": "Sales Order Id",
          "description": "A reference to an order for this invoice, assigned by the seller.",
          "type": "string"
        },
        "billingReference": {
          "title": "Billing reference",
          "description": "A reference to a commercial invoice or corrective invoice of which the current invoice is a correction. This field is mandatory when sending invoiceType 384.",
          "type": "string"
        },
        "contractDocumentReference": {
          "title": "Contract document reference",
          "description": "A reference to a contract or framework agreement that this invoice relates to.",
          "type": "string"
        },
        "projectReference": {
          "title": "Project Reference",
          "description": "Information about the project this invoice relates to.",
          "type": "string"
        },
        "paymentMeansIban": {
          "title": "IBAN",
          "description": "DEPRECATED. Use paymentMeansArray. The IBAN the amount payable should be transferred to",
          "type": "string"
        },
        "paymentMeansBic": {
          "title": "BIC",
          "description": "DEPRECATED. Use paymentMeansArray. The BIC (Swift) of the bank where the amount payable should be transferred to",
          "type": "string",
          "pattern": "^[A-Z]{6}[2-9A-Z][0-9A-NP-Z]([A-Z0-9]{3}|X{3})?$"
        },
        "paymentMeansCode": {
          "title": "Payment Means Code",
          "description": "DEPRECATED. Use paymentMeansArray. How the invoice has been / will be paid. Use only online_payment_service (payment will be made or has been made by an online payment service), bank_card (e.g. debit card, credit card), direct_debit (the amount has been / will be taken out of the client's bank account), standing_agreement (an unspecified payment means known to both buyer and seller) or credit_transfer (the buyer will do / has done a bank transfer). The numeric codes are for legacy purposes, they should not be used.",
          "type": "string",
          "enum": [
            "online_payment_service",
            "bank_card",
            "direct_debit",
            "standing_agreement",
            "credit_transfer",
            "se_bankgiro",
            "se_plusgiro",
            "aunz_npp",
            "",
            "1",
            "30",
            "31",
            "42",
            "48",
            "49",
            "57",
            "58"
          ]
        },
        "paymentMeansArray": {
          "title": "Payment Means Array",
          "description": "An array of payment means (ways to pay the invoice).",
          "type": "array",
          "items": { "$ref": "#/definitions/PaymentMeans" }
        },
        "paymentMeansPaymentId": {
          "title": "Payment Id",
          "description": "The payment id that you will use to match the payment against the invoice.",
          "type": "string"
        },
        "amountIncludingVat": {
          "title": "Amount including VAT",
          "description": "amountIncludingVat is important because of rounding differences. In many invoices, the sum of the line item amounts excluding VAT and the VAT amounts is not equal to first summing the line items without VAT, and then applying VAT. The difference is automatically calculated and included in the electronic invoice, so the receiving accounting package can process the electronic invoice without problems.",
          "type": "number"
        }
      },
      "required": [
        "invoiceNumber",
        "issueDate",
        "accountingCustomerParty",
        "invoiceLines",
        "amountIncludingVat"
      ]
    },
    "PaymentMeans": {
      "title": "PaymentMeans",
      "description": "A PaymentMeans is a way to pay the invoice.",
      "type": "object",
      "properties": {
        "code": {
          "title": "Code",
          "description": "How the invoice has been / will be paid. The code determines which type of PaymentMeans is used and which fields are mandatory.\n++++\n<ul><li>online_payment_service, bank_card: Provide the last four digits of the card and optionally the account holder and network.</li><li>standing_agreement, credit_transfer: Provide the account number and optionally the account holder and branche_code.</li><li>direct_debit: SEPA direct debit. Provide the account number and optionally the mandate.</li><li>se_bankgiro, se_plusgiro: Swedish Bankgiro or Plusgiro. Provide account number and optionally the account holder.</li><li>aunz_npp: New Payments Platform. Provide account number and optionally the account holder.</li><li>sg_giro: Singapore GIRO-system (direct debit). Do not provide any fields.</li><li>sg_card: Singapore CreditCard payment. Do not provide any fields.</li><li>sg_paynow: Singapore PayNow Corporate. Provide the UEN in the account field.</li></ul>\n++++\n",
          "type": "string",
          "enum": [
            "online_payment_service",
            "bank_card",
            "standing_agreement",
            "credit_transfer",
            "direct_debit",
            "se_bankgiro",
            "se_plusgiro",
            "aunz_npp",
            "sg_giro",
            "sg_card",
            "sg_paynow"
          ]
        },
        "account": {
          "title": "Account number",
          "description": "The account number.",
          "type": "string"
        },
        "branche_code": {
          "title": "Branch code",
          "description": "The bank branch code. Not required for IBAN numbers. Often referred to as Swift or Bic code.",
          "type": "string"
        },
        "holder": {
          "title": "Account holder",
          "description": "The name of the account holder.",
          "type": "string"
        },
        "network": {
          "title": "Network",
          "description": "The name of the card network, e.g. VISA.",
          "type": "string"
        },
        "mandate": {
          "title": "Mandate",
          "description": "The direct debit mandate code.",
          "type": "string"
        }
      },
      "required": ["code"]
    },
    "TaxSubtotal": {
      "title": "Tax Subtotal",
      "description": "The total amount of tax of this type in the invoice.",
      "type": "object",
      "properties": {
        "taxableAmount": {
          "title": "Taxable Amount",
          "description": "The amount on which the tax is levied. Required unless percentage is provided.",
          "type": "number"
        },
        "taxAmount": {
          "title": "The amount of tax levied",
          "description": "The amount of tax.",
          "type": "number"
        },
        "percentage": {
          "title": "Percentage Tax",
          "description": "The tax percentage. This should be a valid tax percentage in the country at the time of the taxpointDate of this invoice. Required unless taxAmount is provided.",
          "type": "number"
        },
        "category": {
          "title": "Tax category",
          "description": "The tax category. For a description see <<_openapi_tax>>",
          "type": "string",
          "enum": [
            "standard",
            "zero_rated",
            "reverse_charge",
            "intra_community",
            "exempt",
            "export",
            "outside_scope",
            "regulation33_exempt",
            "nonregulation33_exempt",
            "deemed_supply",
            "srca_s",
            "srca_c",
            "not_registered",
            "sales_tax_work",
            "service_tax",
            "service_tax_import",
            "sales_to_export_market",
            "sales_to_special_area",
            "sales_to_designated_area",
            "exemption_schedule_a",
            "exemption_schedule_b",
            "exemption_schedule_c_a",
            "exemption_schedule_c_b",
            "exemption_schedule_c_c",
            "exemption_service_tax"
          ]
        },
[...]
